@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

:root{
    --cor_palavra: #14E129;
    --cor_sublinhado: #ffffffaa;
    --cor_fundo_foto: #0D941B;
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
    box-sizing: border-box;
}

header{
    padding: 20px;
    background-color: black;
    display: flex;
}

#nome{
    font-weight: 650;
    color: var(--cor_palavra);
    font-size: 25px;
    width: 300px;
    margin-right: 40px;
    margin-left: 25px;
    flex: auto;
}

#bright{
    background-color: var(--cor_palavra);
    color: black;
    padding: 5px;
    border-radius: 15px;
    font-weight: 500;
}

#bright:hover{
    box-shadow: 0px 0px 10px 5px greenyellow;
    transition: 0.3s;
}

header > nav{
    width: 400px;
    flex-direction: row-reverse;
    margin-top: 12px;
}

header > nav > a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.597);
    margin-left: 15px;
}

header > nav > a:hover{
    text-shadow: 1px 1px 2px var(--cor_sublinhado);
}

span{
    color: #14E129;
}

a{
    text-decoration: none;
}

#apresentacao{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 800px;
    width: 90vw;
    margin: auto;
}

#quote{
    margin: 30px;
    margin-right: 100px;
    width: 40%;
}

#quote1{
    font-size: 2.5em;
    text-align: center;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(20) 1 normal forwards;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes typing{
    from {
        width: 0ch;
    }
    to{
        width: 100%;
    }
}

#quote2{
    font-size: 1.6em;
    margin-bottom: 20px;
    text-align: center;
}

#botoes{
    text-align: center;
}

.btn{
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid var(--cor_fundo_foto);
    box-shadow: 0px 0px 5px 3px var(--cor_palavra);
    display: inline-block;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btn:hover{
    box-shadow: 0px 0px 5px 3px white;
    transition: 0.3s;
    transform: scale(1.1);
}

#github{
    background-image: url(img/mini_git.png);
}

#linkedin{
    background-image: url(img/linkedin.png);
}

#email{
    background-image: url(img/email.png);
    background-color: white;
}

body{
    background-color: black;
}

#img{
    width: 100%;
    height: 300px;
    width: 550px;
    height: 550px;
    background-position: center;
    box-shadow: 0px 0px 13px 8px var(--cor_fundo_foto);
    background-image: url(img/foto_desenho.png);
    background-size: cover;
    border-radius: 50%;
}

#Projetos{
    margin-top: 130px;
    width: 80vw;
    text-align: center;
    margin: auto;
    margin-bottom: 140px;
}

#Projetos > h1{
    font-weight: 500;
    font-size: 2em;
    padding-top: 30px;
    padding-bottom: 50px;
    font-weight: 600;
    color: var(--cor_palavra);
    text-align: center;
    margin-bottom: 50px;
}

.project{
    border: 1px solid var(--cor_fundo_foto);
    display: inline-block;
    width: 500px;
    height: 400px;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.664);
}

.project:hover{
    transition: 0.4s;
    transform: scale(1.05);
}

.check{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 3px var(--cor_fundo_foto);
}

.check:hover{
    transition: 0.4s;
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0px 0px 5px 3px var(--cor_palavra);
}

#droid{
    background-image: url(img/projeto_droid.png);
    background-size: cover;
    background-position: center;
}

#cordel{
    background-image: url(img/projeto_cord.jpg);
    background-size: cover;
    background-position: center;
}

#popeye{
    background-image: url(img/projeto_pop.jpg);
    background-size: cover;
    background-position: center;
}

#redes_sociais{
    background-image: url(img/porjeto_iframe.png);
    background-size: cover;
    background-position: center;
}

#login{
    background-image: url(img/projeto_login.png);
    background-size: cover;
    background-position: center;
}

#certificados{
    width: 80vw;
    margin: auto;
    margin-bottom: 200px;
}

#certificados > h1{
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.sec{
    justify-content: center;
    display: flex;
    width: 800px;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.desc{
    position: relative;
}

.desc > h1{
    background-color: var(--cor_fundo_foto);
    margin-top: 20px;
}

.desc > h2{
    font-size: 1.2em;
    font-weight: 500;
}

.desc > p{
    margin-top: 20px;
}

.res{
    background-color: var(--cor_fundo_foto);
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.certi{
    border: 1px solid var(--cor_fundo_foto);
    display: inline-block;
    width: 500px;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.664);
    position: relative;
}

.certi:hover{
    transition: 0.4s;
    transform: scale(1.05);
}

.texto{
    border: 1px solid var(--cor_fundo_foto);
    display: inline-block;
    width: 500px;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.664);
    text-align: justify;
}

#css{
    background-image: url(img/html5-css3.jpg);
    background-position: center;
    background-size: cover;
}

#javascript{
    background-image: url(img/javascript.png);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

#python{
    background-image: url(img/python.webp);
    background-position: center;
    background-size: cover;
}

#security{
    background-image: url(img/ciber_sec.jpg);
    background-position: center;
    background-size: cover;
}

footer{
    height: 100px;
    text-align: center;
    background-color: rgb(0, 47, 0);
    padding-top: 25px;
    line-height: 28px;
}